{
  "presets": ["module:metro-react-native-babel-preset"],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  },
  "plugins": [
    // "transform-remove-console",
    [
      "babel-plugin-inline-import",
      
      {
        "extensions": [".svg"]
      }
    ],
    [
      "dotenv-import",
      {
        "moduleName": "@env",
        "path": ".env",
        "blacklist": [
          "GITHUB_TOKEN"
        ],
        "whitelist": null,
        "safe": true,
        "allowUndefined": true
      }
    ]
  ]
}